@import 'styles';

.loginMianContiainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .loginwrapper {
    width: 100%;
    height: 100%;

    .loginLogo {
      text-align: center;
      width: 1024px;
      height: 100px;

      h1 {
        width: 100%;
        height: 100%;
        text-align: center;
      }

      h2 {
        width: 100%;
        height: 100%;
      }
    }

    .loginBox {
      width: 100%;
      height: 100%;

      .login {
        width: 100%;
        height: 100%;
      }

      .SingupPageInfo {
        width: 100%;
        height: 100%;

        p {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
