@import 'styles';

header {
  .originalNav {
    @include flexbox(space-between, center);
    justify-content: space-between;
    position: fixed;
    z-index: $gnb-level;
    top: 0;
    width: 100%;
    height: 158px;
    border-bottom: 1px solid $border;
    background-color: $white;
    transition: all 0.3s linear 0.01s;

    .logoWrapper {
      @include flexbox;
      cursor: pointer;

      span {
        font-size: 1.75rem;
        font-weight: bolder;
      }
    }

    .categoryWrapper {
      @include flexbox;
      cursor: pointer;
      div {
        font-size: 1.5rem;
        font-weight: bold;
      }
      &:hover::before {
        position: absolute;
        border-bottom: 3px solid $red;
        padding: 0 11px;
        content: '쇼핑';
        background-color: $white;
        color: $red;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    .infoWrapper {
      @include column-flexbox;

      .personalInfoWrapper {
        @include flexbox;
        a {
          @include flexbox;
          height: 14px;
          padding: 0 5px;
          border-right: 1px solid black;
          margin-bottom: 30px;
          font-size: 14px;
          cursor: pointer;

          &:hover {
            color: $red;
          }

          &:last-child {
            border: none;
          }
        }
      }

      .moreInfoWrapper {
        @include column-flexbox(center, center);
        li {
          margin: 6px 10px;
          font-size: 16px;
          font-weight: bold;
          cursor: pointer;
        }
        .about {
          position: relative;

          &:hover::before {
            position: absolute;
            width: 36px;
            padding: 0 11px;
            content: '소개';
            background-color: $white;
            color: $red;
            font-size: 16px;
          }
        }
        .location {
          position: relative;

          &:hover::before {
            position: absolute;
            padding: 0 15.5px;
            content: '위치안내';
            background-color: $white;
            color: $red;
            font-size: 16px;
          }
        }
      }
    }
  }

  .miniNav {
    @include flexbox(space-between, center);
    justify-content: space-between;
    position: fixed;
    z-index: $gnb-level;
    top: 0;
    width: 100%;
    height: 83px;
    border-bottom: 1px solid $border;
    background-color: $white;
    transition: all 0.3s linear 0.01s;

    .logoWrapper {
      @include flexbox;
      cursor: pointer;

      span {
        font-size: 1.75rem;
        font-weight: bolder;
      }
    }

    .categoryWrapper {
      @include flexbox;
      padding: 10px;
      cursor: pointer;

      div {
        font-size: 1.5rem;
        font-weight: bold;
      }

      &:hover::before {
        position: absolute;
        border-bottom: 3px solid $red;
        padding: 0 11px;
        content: '쇼핑';
        background-color: $white;
        color: $red;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    .infoWrapper {
      @include column-flexbox;

      .personalInfoWrapper {
        display: none;
      }

      .moreInfoWrapper {
        @include flexbox(center, center);
        li {
          margin: 0 10px;
          font-size: 16px;
          font-weight: bold;
          cursor: pointer;
        }
        .about {
          position: relative;

          &:hover::before {
            position: absolute;
            width: 36px;
            padding: 0 11px;
            content: '소개';
            background-color: $white;
            color: $red;
            font-size: 16px;
          }
        }
        .location {
          position: relative;

          &:hover::before {
            position: absolute;
            padding: 0 15.5px;
            content: '위치안내';
            background-color: $white;
            color: $red;
            font-size: 16px;
          }
        }
      }
    }
  }
}
