@import 'styles';

@mixin skeleton-loading-bar($width: 100, $speed: 2) {
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    animation: loading $speed + s infinite linear;
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0),
      rgba(#fff, 0.5),
      rgba(#fff, 0)
    );
    background-size: 40px;
  }

  @keyframes loading {
    0% {
      transform: translateX(0);
    }

    50%,
    100% {
      transform: translateX($width + px);
    }
  }
}

.skeletonShopList {
  @include flexbox(start, start);
  width: 1240px;
  margin: 0 auto;

  .shopListAside {
    width: 200px;

    .shopListTitle {
      @include skeleton-loading-bar(200, 4);
      width: 60%;
      height: 30px;
      margin-bottom: 20px;
      padding-left: 14px;
      border-radius: 5px;
      background-color: $background;
    }

    .categoryList {
      padding-right: 45px;

      .categoryItem {
        @include skeleton-loading-bar(200, 4);
        width: 120px;
        height: 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: $background;
      }
    }
  }

  .shopListContent {
    width: 100%;

    .shopHeader {
      @include skeleton-loading-bar(340);
      width: 150px;
      height: 30px;
      margin-bottom: 20px;
      margin-left: 13px;
      border-radius: 5px;
      background-color: $background;
    }

    .productList {
      @include flexbox(start, start);
      flex-wrap: wrap;
    }

    .productCard {
      .imageWrapper {
        @include skeleton-loading-bar(340);
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: $background;
      }

      &InfoItem {
        @include skeleton-loading-bar(340);
        height: 20px;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: $background;

        &.width30 {
          width: 30%;
        }

        &.width50 {
          width: 50%;
        }

        &.width70 {
          width: 70%;
        }
      }
    }
  }
}
