@import 'styles';

.productsList {
  margin: 50px;
  width: 1240px;
  object-fit: contain;

  h1 {
    @include flexbox(center, center);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    font-weight: lighter;
  }

  .moreShopping {
    @include flexbox(end, center);
    margin-right: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bolder;
    color: $red;
  }
  .products {
    @include flexbox;
  }
}
